<div class="navbar navbar-expand-lg bd-navbar sticky-top navbar-dark bg-primary">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <a routerLink="/" class="navbar-brand">Shop App</a>
        <div class="bd-navbar-toggle">
            <button class="navbar-toggler p-2" data-bs-toggle="collapse" data-bs-target="#collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/products" class="nav-link">Products</a>
                </li>  
                <li class="nav-item">
                    <a routerLink="/products/new" class="nav-link">New Product</a>
                </li>  
                <li class="nav-item">
                    <a routerLink="/categories/new" class="nav-link">New Category</a>
                </li>  
            </ul>
        </div>
    </nav>
</div>