<div *ngIf="!loading">
    <div class="card p-3 m-3" *ngIf="product">
        <div class="row">
            <div class="col-3">
                <img src="../../../assets/images/{{product.imageUrl}}" alt="" class="img-fluid rounded-start">
            </div>
            <div class="col-9">
                <div class="card-body">
                    <h3 class="card-title">{{product.name}}</h3>
                    <h5 class="card-text">{{product.title}}</h5>
                    <p class="card-text">Price: {{product.price}}$</p>
                    <p class="card-text" [innerHTML]="product.description"></p>
                    <button style="float: right" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noProduct>
        <div class="alert alert-warning">Unable to access product information</div>
    </ng-template>
</div>

<div *ngIf="loading" class="spinner-border text-primary d-flex justify-contet-center alight-items-center" role="status">
    <span class="visually-hidden">Loading...</span>
</div>